@model IEnumerable<Comment>
<script>
$(document).ready(function () {
    $('.reviews__content__item__answer').click(function () {
        $(this).parent().children('.reviews__content__item__answer__block').css('display', 'block');
    });
    $('.reviews__content__item__answer__input__cancel').click(function () {
        $(this).parents('.reviews__content__item__answer__block').css('display', 'none');
    });
});
</script>
@foreach (Comment comment in Model)
{
   <div class="reviews__content__item">
                    <div class="reviews__content__item__logo"><img src="data:image/jpeg;base64,@(Convert.ToBase64String(comment.User.Avatar))" alt=""></div>
                    <div class="reviews__content__item__text">
                        <div class="text1 reviews__content__item__text__evaluation">Оценка: @comment.Evaluation <span>★</span></div>
                        <div class="text1 reviews__content__item__text__title">@comment.User.Name</div>
                        <div class="text1 reviews__content__item__text__review">
                            @comment.Text
                        </div>
                        @if (ViewBag.User is not null)
                        {
                        <div class="reviews__content__item__buttons">
                            <div class="text1 reviews__content__item__answer">Ответить</div>
                            @if (comment.User.Email == ViewBag.User.Email || ViewBag.User.IsAdmin)
                            {
                            <div onclick="DeleteComment(@comment.Id, @comment.Product.Id)" class="text1 reviews__content__item__delete">Удалить</div>
                            }
                        </div>
                        }
                        <div class="reviews__content__item__answer__block">
                            <div class="reviews__content__item__answer__input">
                                <input type="text" class="text1 subComment__input" id="subComment__input__@comment.Id">
                            </div>
                            <div class="reviews__content__item__answer__buttons">
                                <div class="text1 reviews__content__item__answer__input__cancel">Отмена</div>
                                <div onclick="AddSubComment(@comment.Id, @comment.Product.Id)" class="text1 reviews__content__item__answer__input__write">Оставить отзыв</div>
                            </div>
                        </div>
                        @foreach(SubComment subComment in comment.SubComments)
                        {
                        <div class="reviews__content__subitem">
                        <div class="reviews__content__subitem__logo"><img src="data:image/jpeg;base64,@(Convert.ToBase64String(subComment.User.Avatar))" alt=""></div>
                        <div class="reviews__content__subitem__text">
                            <div class="text1 reviews__content__subitem__text__title">@subComment.User.Name</div>
                            <div class="text1 reviews__content__subitem__text__review">
                                @subComment.Text
                            </div>
                            @if (ViewBag.User is not null)
                             {
                                 @if (subComment.User.Email == ViewBag.User.Email || ViewBag.User.IsAdmin)
                                 {
                            <div onclick="DeleteSubComment(@subComment.Id, @comment.Product.Id)" class="text1 reviews__content__subitem__delete">Удалить</div>
                                 }
                              }
                        </div>
                    </div>
                        }
                    </div>
                </div>
}