@model IEnumerable<Product>
@using SanTech.Models
@{ 
    Layout = "_Layout";
}
<link href="~/css/adminPanel.css" rel="stylesheet" />
<script src="~/js/loadOnScrollAdminPanel.js"></script>
    <div class="text2 adminPanel__title">Админ-панель</div>
    <div class="adminPanel">
        <div class="adminPanel__header">
            <div class="adminPanel__header__menu">
                <div admin-type="Products" class="adminPanel__header__menu__item _active__adminMenuItem">
                    <span class="text1">Товары</span>
                </div>
                <div admin-type="Users" class="adminPanel__header__menu__item">
                    <span class="text1">Пользователи</span>
                </div>
                <div admin-type="Create" class="adminPanel__header__menu__item">
                    <span class="text1">Создать</span>
                </div>
            </div>
        </div>
        <div class="adminPanel__products admin__toggleContent _active__adminPanel" id="Products">
            @foreach (Product u in Model)
            {
            <div class="admin__toggleContent__item">
                <div class="admin__toggleContent__item__first">
                    <div class="admin__toggleContent__item__image"><img src="data:image/jpeg;base64,@(Convert.ToBase64String(u.Image))" alt=""></div>
                    <div class="admin__toggleContent__item__info">
                        <div class="text1 admin__toggleContent__item__info__title">@u.Title</div>
                        <div class="text1 admin__toggleContent__item__info__code">Код: @u.Id</div>
                        <div class="admin__toggleContent__item__info__bonus">
                            <div class="admin__toggleContent__item__info__bonus__logo">
                                <img src="~/img/bonus.svg" alt="">
                            </div>
                            <div class="text1 admin__toggleContent__item__info__bonus__text">
                                Бонусы: <span class="sale__style">@u.BonusNumber</span>
                            </div>
                        </div>
                        <div class="text1 admin__toggleContent__item__info__sale">
                            Скидка: <span class="sale__style">@u.SaleProcent%</span>
                        </div>
                        <div class="text1 admin__toggleContent__item__info__cost">@u.Cost.ToString("N0") грн.</div>
                    </div>
                </div>
                <div class="admin__toggleContent__item__buttons">
                    <div class="admin__toggleContent__item__buttons__delete">
                        <span class="text1">Удалить</span>
                    </div>
                    <div class="admin__toggleContent__item__buttons__redact">
                        <span class="text1">Редактировать</span>
                    </div>
                    <div class="admin__toggleContent__item__buttons__view">
                        <span class="text1">Просмотреть</span>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="adminPanel__users admin__toggleContent" id="Users">
            @foreach (User u in ViewBag.UserBase)
            {
            <div class=" admin__toggleContent__item">
                <div class="admin__toggleContent__item__first">
                    <div class="admin__users__avatar"><img src="~/img/default_avatar.png" alt=""></div>
                    <div class="admin__users__info">
                        <div class="text1 admin__users__info__name">@u.Name</div>
                        <div class="text1 admin__users__info__login">Login: @u.Login</div>
                        <div class="text1 admin__users__info__email">Email: @u.Email</div>
                        <div class="text1 admin__users__info__phone">Телефон: @u.Phone</div>
                        <div class="admin__users__info__bonus">
                            <div class="admin__users__info__bonus__logo"><img src="~/img/bonus.svg" alt=""></div>
                            <div class="text1 admin__users__info__bonus__text">
                                Количество бонусов: <span class="sale__style">@u.Bonus</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="admin__toggleContent__item__buttons">
                    <div class="admin__toggleContent__item__buttons__delete">
                        <span class="text1">Удалить</span>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="adminPanel__create admin__toggleContent" id="Create">
            <div class="adminPanel__create__content">
                    <div class="adminPanel__create__content__input">
                        <label for="myfile" class="text1 chous">Выберите фотографию</label>
                        <input type="file" accept=".jpg, .jpeg, .png, .webp" name="uploadedFile" class="my admin__create__input" id="myfile"  />
                    </div>
                    <div class="adminPanel__create__content__input">
                        <p class="text1">Название товара</p>
                        <input type="text" id="Title" class="text1 admin__create__input" placeholder="Пример: Маска сварщика автозатемнение Dnipro-M WM-46">
                    </div>
                    <div class="adminPanel__create__content__input">
                        <p class="text1">Описание товара</p>
                        <textarea id="Desc" class="text1 admin__create__input _scroll" placeholder="Пример: Габаритные размеры: 230х230х320 мм"></textarea>
                    </div>
                    <div class="adminPanel__create__content__input">
                        <p class="text1">Процент скидки</p>
                        <input type="number" id="SaleProcent" class="text1 admin__create__input" value="0">
                    </div>
                    <div class="adminPanel__create__content__input">
                        <p class="text1">Количество бонусов за товар</p>
                        <input type="number" id="BonusNumber" class="text1 admin__create__input" value="0">
                    </div>
                    <div class="adminPanel__create__content__input">
                        <p class="text1">Цена товара</p>
                        <input type="number" id="Cost" class="text1 admin__create__input" placeholder="Пример: 2434">
                    </div>
                    <div class="adminPanel__create__content__input">
                        <button type="submit" class="text1 adminPanel__create__content__input__button">Создать</button>
                    </div>
            </div>
        </div>
    </div>